{% extends "base.html" %}
{% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-secondary">
<div class="container clearfix">
	<h2 class="title-page">{{ title }}</h2>

	<nav class="float-left">
	<ol class="breadcrumb text-white">
      <li class="breadcrumb-item"><a href='/Sakila'>Sakila</a>
      <li class="breadcrumb-item"><a href='/Northwinds'>Northwinds</a>
      <li class="breadcrumb-item"><a href='/AdventureWorks'>AdventureWorks</a>
      <li class="breadcrumb-item"><a href='/Inventory'>Inventory</a>
      <li class="breadcrumb-item"><a href='/Customers'>Customers</a>
      <li class="breadcrumb-item"><a href='/Suppliers'>Suppliers</a>
      <li class="breadcrumb-item"><a href='/Products'>Products</a>
	</ol>
	</nav>
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->
    <main class="col-sm-9">

      <div id="body">{% block body%}{% endblock %}</div>

    </main> <!-- col.// -->
{% endblock %}