{% extends "base.html" %}
{% block title %}Add actor for {{ film.title }}{% endblock %}
{% block h1 %}Add actor for {{ film.title }}{% endblock %}

{% block content %}
   <summary>{{ film.description }}</summary>

   <form action='{{ url_for('addRole', film_id = film_id ) }}' method='post'>>
      <select name='actor_id'>
         {% for actor in actors %}
            {% if actor not in film.actors %}
               <option value='{{ actor.actor_id }}'>{{ actor.first_name }} {{actor.last_name }}</option>>
            {% endif %}
         {% endfor %}
      </select>     
      <input type='submit' />       
   </form>
{% endblock %}