{% extends "base.html" %}
{% block title %}2mazon{% endblock %}
{% block h1 %}2mazon{% endblock %}


{% block content %}
   <table>
      <thead>
         <tr><th>Product ID</th><th>Product</th><th>Quantity</th><th>Update</th></tr>
      </thead>
      <tbody>
         {% for product in products %}
             {% if product.quantity_per_unit|int < product.minimum_stock_level|int %}
                 <tr>
                     <td>{{ product.ProductID }}</td><td>{{ product.Name }}</td><td>{{ product.quantity_per_unit }}</td>
                     <td>
                         <a href='../Inventory/{{ product.Product_ID }}'>update</a>
                        </td>
                 </tr>
             {% endif %}
         {% endfor %}
      </tbody>
      <tr><td>
   </table>
   <a href='../Inventory/'>Inventory</a>

{% endblock %}